.e-card.c-dash__card-border.c-dash__admin--background {
    &:hover {
        background-color: #2e7ea5 !important;
    }
}

.e-card .e-card-actions .e-card-btn {
    text-transform: none !important;
}

// tabla Header
.e-grid .e-columnheader .e-headercell {
    background-color: #6d8199;
    color: white;
}

.fontsize {
    font-size: $font-size-sidebarLabel;
}

.synfusion{

    &__date{
        margin-top: -3% !important;
    }
    &__list{
        margin-top: -1% !important;
    }
}

// Ajuste de header grids
.e-grid.e-responsive .e-headercelldiv {
    text-align: center !important;
    height: 100% !important;
}
 .e-grid .e-gridheader .e-sortfilter .e-headercelldiv{
    padding: 0;
    white-space: break-spaces;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}