.c-design {
    &__container {
        padding-top: 3%;
        border: 1px #b5a8a8 solid;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        padding-bottom: 1rem !important;
        // height: 88vh;
    }
}