/*===============================*/

/* Configuraciones generales     */

/*===============================*/

/* Configuraciones sidebar */
//  Tipo de letra

// Font Size
$font-size-sidebarIcon: 19px;
$font-size-sidebarLabel: 12px;

$font-size-dashboardNumber: 53px;

/* Configuraciones sidebar */

/*===============================*/

/* Fin Configuraciones generales     */

/*===============================*/

